<launch>
    <node pkg="lidarshooter" type="lidarshooter" name="lidarshooter">
        <remap from="/sensoruid" to="lidar_0000"/>
        <param name="configfile" value="/home/hti/ros_ws/hesai-pandar-XT-32.json"/>
    </node>
    <node pkg="lidarshooter" type="lidarshooter" name="lidarshooter">
        <remap from="/sensoruid" to="lidar_0001"/>
        <param name="configfile" value="/home/hti/ros_ws/hesai-pandar-XT-32.json"/>
    </node>
    <node pkg="lidarshooter" type="objtracker" name="objtracker">
        <param name="meshfile" value="/home/hti/ros_ws/ben.stl"/>
    </node>
    <node pkg="lidarshooter" type="teleop_twist_keyboard" name="teleop_twist_keyboard.py" ns="/joystick">
        <param name="speed" value="0.09"/>
        <param name="turn" value="0.15"/>
    </node>
</launch>